/* body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
} */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.video {
    width: 50%;
}

.content {
    width: 50%;
    padding: 20px;
}

/* p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
} */

.p{
    width: 100%;
    position: absolute;
    color: white;
    top: 40%;
    transform: translateY(-50%);
    text-align: center;
    font-size: larger;
}
.para{
    background-color: brown;
    padding: 20px;
    width: 700px;
    margin-left: 300px;

}
.para1{
    background-color: chocolate;
    padding: 40px;
    width: 700px;
    margin-left: 280px;
    text-decoration: none;
}
a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.back-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.back-btn:hover {
    background-color: #0056b3;
}
