.BCCI{
    background-color: rgba(0, 0, 255, 0.748);
    border-radius: 10%;
}
.BCCI img{
    height: 30px;
    margin-left: 60px;
}
.BCCI a{
    text-decoration: none;
    margin-bottom: 30px;
    color: white;
}
.navigation {
    display: flex;
    align-items: center; 
    background-color: blue;
}
.navigation a {
    margin-right: 10px; 
}
.IPL img {
    margin-left: 30px;
    height: 50px;
    width: auto;
}
.header {
    margin-left: 100px;
    color: white;
}
.matches{
    color: white;
    text-decoration: none;
}
.videos{
    color: white;
    text-decoration: none;
    margin-left: 10px;
}
.stats{
    color: white;
    text-decoration: none;
    margin-left: 10px;
}
.pointstable{
    color: white;
    text-decoration: none;
    margin-left: 10px;
}
.fantasy{
    color: white;
    text-decoration: none;
    margin-left: 10px;
}
.teams{
    color: white;
    text-decoration: none;
    margin-left: 10px;
}
.news{
    color: white;
    text-decoration: none;
    margin-left: 10px;
}
.more{
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.rohit {
    position: relative; 
    background-color: rgba(0, 0, 255, 0.748);
    display: flex;
}

.rohit img {
    height: 300px;
    margin-left: 100px;
}

.rohit h1 {
    position: absolute; 
    top: 80%;
    left: 22%; 
    transform: translate(-50%, -50%);
    margin: 0;
    color: white;
    text-align: center;
}
.rohit h2{
    position: absolute; 
    top: 89%;
    left: 22%; 
    transform: translate(-50%, -50%);
    margin: 0;
    color: white;
    text-align: center;
}
.indian-box h2{
    border: 2px solid white; 
    padding: 5px; 
    margin-top: 10px;
}
.player-overview {
    flex: 1;
    padding: 20px;
    margin-left: 200px;
    margin-top: 80px;
}
.player-overview tr{
    color: wheat;
}
.about h2{
    margin-left: 60px;
}
.about p{
    margin-left: 60px;
    margin-right: 60px;
    font-size: 16px;
    color: rgba(17, 20, 28, .5);
}
